<div class="flex justify-center items-center">
    <div class="join">
        {% if page_obj.has_previous %}
            <a class="join-item btn" href="?page=1&{{ params.urlencode }}">First Page</a>
            <a class="join-item btn" href="?page={{ page_obj.previous_page_number }}&{{ params.urlencode }}">«</a>
        {% endif %}
        <button class="join-item btn"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</button>
        {% if page_obj.has_next %}
            <a class="join-item btn" href="?page={{ page_obj.next_page_number }}&{{ params.urlencode }}">»</a>
            <a class="join-item btn" href="?page={{ page_obj.paginator.num_pages }}&{{ params.urlencode }}">Last page</a>
        {% endif %}
    </div>
</div>